<div class="container">

<%= form_for @consultation, url: consultations_path do |f| %>
  <%= f.label(:patient, "Choose Your Patient By Email:") %>
  <%= f.text_field :patient %>
  <%= f.submit("Create Consultation") %>
<% end %>

</div>

