<div class="grid-container w-50 mt-3 p-3 rounded" style="background-color: #efefef">
  <p>Subscription memberships are all the rage. We pay member fees for television programs,
  meal delivery services, and, increasingly, for access to medical care.
  Is subscription medicine the wave of the future?
  </p>
  <p>It is certainly a current, providing healthcare providers and patients viable alternative
  models to the traditional fee-for-service practice. These models are promising, especially in
  addressing specific pain points in the healthcare ecosystem.
  </p>
  <p>Consumerism in healthcare is rising, and subscription-based models of healthcare delivery
  cater to demands that many patients have. For patients, subscription-based models offer
  increased physician access and reliability, with many models offering consumer-friendly benefits
  such as same-day appointments, shorter wait times, longer appointments, and increased after-hours access
  to the physician.
  </p>
  <p>Many of the private practices that have turned to a subscription-based model are doing so
  in order to remain independent. Subscription medicine can reduce many administrative headaches
  and expenses, especially with models that do not accept health insurance. Providers may also
  enjoy a reduced number of patients and the security that comes from a steady revenue stream
  from annual fees.
  </p>
  <p>A subscription model paired with telemedicine could be a lifesaver for patients with
  limited mobility or who live in very rural areas.
  </p>
</div>

