  <div class="search">
    <%= form_tag(patients_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search for patient", class: 'search-bar' %>
    <%= submit_tag "Search", class: 'btn btn-info ml-2 p-2 rounded-lg' %>
    <% end %>
  </div>


<% if @patients %>
<h3><%= @patients.user.first_name %></h3>
<% end %>
