<div class="container w-50 mt-3 p-3 rounded" style="background-color: #efefef">
  <%= simple_form_for @patient do |f| %>
    <%= f.input :home_address %>
    <%= f.input :allergies %>
    <%= f.button :submit, "Create Profile", class: 'nav-item' %>
  <% end %>
</div>
