.btn-text {
    background-color: rgba(25, 230, 117, 0.8);
    padding: 3px;
    margin-bottom: 10px;
}

.btn-text:hover {
    background-color: rgba(25, 230, 117, 1);
    transition: all 0.5s ease;
}

.consultation-button {
  padding: 8px;
  border-radius: 4px;
  background-color: #FDB936;
  margin: 20px 16px 14px 5px;

    &:hover {
      border: 1px solid #898989;
    }

}
