.form-check {
  display: flex;
  border: solid 1px #444;
  padding: 1em;
  margin: 1em;
  border-radius: 8px;

  .form-check-label {
    padding-left: 3em;
  }
}

  .form-check-input {
  margin-left: 1em;
  }
