.navbar {
  background-color: white;
}

.navbar-lewagon {
  justify-content: end;
  background: white;
}

.navbar-lewagon-signedin {
  justify-content: space-between;
  width:100%;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin: 20px 16px 0px 5px;
  background-color: rgba(0, 200, 0, 0.3);
  transition: all 1s ease;
}

.nav-item:hover {
  background-color: rgba(25, 230, 117, 0.829);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
