
.generic-table {
  margin : 40px;
}

.table {
  border-radius: 10px;
  border-bottom: 2px solid #F4F4F4 !important;
}

.thead {
  border-radius: 10px;
}

th {
border-radius: 10px;
}

.table thead th {
    vertical-align: top;
    border: none;
    border-bottom: 2px solid #dee2e6;
    padding: 16px;
}
