.generic-table {
  margin : 40px;
}

.table-data {
  display: inline;
}

.table {
  border-radius: 10px;
  border-bottom: 2px solid #F4F4F4 !important;
}

.thead.tr {
  border-radius: 10px;
}

.table-header {
  padding: 15px;
  color: #04FC98;
}

.cart-items {
  color: rgb(158, 15, 15)
}
