.generic-table {
  margin : 40px;
}

.table-data {
  display: inline;
}

.table {
  border-radius: 10px;
  border-bottom: 2px solid #F4F4F4 !important;
}

.thead {
  border-radius: 10px;
}

th {
border-radius: 10px;
}

.table thead th {
    vertical-align: top;
    border: none;
    border-bottom: 2px solid #dee2e6;
    padding: 16px;
}





// Cart Page classes 
.table-header {
  padding: 15px;
  -webkit-text-fill-color: #0bd347; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}



#new_order .collection_check_boxes {
  white-space: pre-wrap;
}
